# Android Project


# iOS Project
iOS/CEFSDK/channels/*
!iOS/CEFSDK/channels/README.md
iOS/CEFSDKTest/channels/*
!iOS/CEFSDKTest/channels/README.md
iOS/CEFSDK/CEFSDK.xcodeproj/xcuserdata/*
iOS/CEFSDK/CEFSDK.xcodeproj/project.xcworkspace/*
iOS/CEFSDKTest/CEFSDKTest.xcodeproj/xcuserdata/*
iOS/CEFSDKTest/CEFSDKTest.xcodeproj/project.xcworkspace/*
