<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eestorm.eestest">
    <!-- internet访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 访问有关GSM网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- cef_accountname -->
        <meta-data
            android:name="cef_accountname"
            android:value="你的cef_accountname" />把 你的cef_accountname 替换成从官方申请的cef_accountname，并删除这句话。

        <!-- cef_saskey -->
        <meta-data
            android:name="cef_saskey"
            android:value="你的cef_saskey" />把 你的cef_saskey 替换成从官方申请的cef_saskey，并删除这句话。

        <!-- cef_saskeyname -->
        <meta-data
            android:name="cef_saskeyname"
            android:value="你的cef_saskeyname" />把 你的cef_saskeyname 替换成从官方申请的cef_saskeyname，并删除这句话。


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- QQ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent你的appId" />填写你的从QQ官方申请的appid，注意：不能删除tencent
            </intent-filter>
        </activity>
        <!-- QQ -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
       <!-- WeChat,否则无法唤起微信app -->
        <activity
            android:name="com.eestorm.eestest.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
    </application>
</manifest>